<!DOCTYPE html>
<html>
    <head>        
        <title>MicroLock</title>
        <link rel="stylesheet" href="/statics/styles.css">
        {{ fontawesome_html() }}
    </head>
    <body>
        <p><b>Success!</b> Account created with username {{ username }}</p>
        <br>
        <p>You can access the application by logging in with your above username and password. Write them down and do not loose them or else you will lose access to your secure contact.</p>
        <br>
        <a class="nav-link" href="/">Go to Log In!</a>
    </body>
</html>