<!DOCTYPE html>
<html>
    {% include 'navbar.html' %}
    <head>
        <title>MicroLock</title>
        <link rel="stylesheet" href="/statics/styles.css">
        {{ fontawesome_html() }}
    </head>
    <body>
        <div id="containerMicroLock">
            <br><br><h1>MicroLock  <i class="fas fa-lock"></i></h1>
            <br><p>A simple encryption tool</p>
        </div>
        <br><br>
        
        <form action="/unlock" method="post"">
            <textarea id="textInputBox" name="sMess" placeholder="Enter secret message to unlock..." 
                    rows="8" cols="50" required></textarea>
            <br><br>   
            <input type="submit" id="submit" name="main" value="UNLOCK">
            <br><br>
        </form>
    </body>
</html>